body{
    
    padding: 0;   
    margin: 0;
	font-family: 'Montserrat' ;

}




#background{

	background: url("images/backgroundimage.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
	background-color: black;
	
}



#signUpBody{
	
	text-align: center;
	color: white;

}

#logo{
	
	height: 150px;
	
}

h1{ 
	
	font-size: 3rem;
	font-weight: bold;
	
}

h2{
	
	font-size: 2rem;
	
}

.inputShell{
    
    text-align: left;
    
}

.logInElements{ 
	
	display: none;
	
}

.textInput, .numberInput{
	
	height: 50px;
	border-radius: 25px;
	border: solid #EFEFEF 1px;
	padding-left: 30px;
    margin-bottom: 15px;
    z-index: 1;
    
}

.textInput:hover, .textInput:focus, .numberInput:hover, .numberInput:focus{
	
	border: solid 3px #00ECFF;
	padding-left: 27px;
}


.button{
	
	color: black;
	font-weight: bold;
	background-color: #00ECFF;
	height: 44px;
	border-radius: 25px;
	border: solid 3px #00ECFF;

}

.emphasis{
	
	color: #00ECFF !important;	
	font-weight: bold;
	
}

input, input:focus, input:hover, select, select:focus, select:hover{
	        
    outline: none;
	outline:0;
}

#cookieConsent{
                    
    width: 100%;
    background-color: black;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    color: white;
    padding: 20px;
    border: solid 1px gray;
                        
}

#footer{

	background-color: black;
	color: white;
	text-align: center;
	font-size: 0.8rem;

}

@media only screen and (max-width: 575px) {
 	#logo{
	
	display: none;
	
	}
	
	#signUpBody{
		
		padding: 50px 20px 30px 20px;
		
	}
	
}

.header{
	
	background-color: black;
	color: white;
	padding: 5px;

}

.headerLogo{
	
	width: 30px;
	
}

.nav-link:hover{
    
    background-color: #001730;
    
}

.pageTitle{

	font-weight: bold;
	font-size: 1rem;
	width: 200px;
	
}

#avatar{
	
	border-radius: 50%;
	width: 40px;
	height: 40px;
}


.active{

	text-decoration: underline;
	
}


.active-sm{
            
    border-bottom: solid 2px #00ECFF;
            
}


.activityBlock{

	
	border-radius: 15px;
	border: solid #EFEFEF 1px;
	background-color: #F6F6F6;
	padding: 20px;
	margin-bottom: 15px;
	
}

.pointer{
	
	cursor: pointer;

}

#namePopup, #emailPopup{
	
	display: none;	
	
}

.selectButton{
	
	width: 175px;
	height: 175px;
	border-radius: 15px;
	border: solid 2px #EEEEEE;
	
}

button:focus{
	
	outline: none;
	
}

button:hover{
    
    outline:none;
    
}

.selectButton-active{
	
	border: solid 3px #00ECFF;
	
}

.bg-dark{

	background-color: #001730 !important;
	
}

.alerts{
	        
    border-radius: 25px 25px 15px 15px;
    padding: 50px 5px 4px 5px;
    margin-top: -63px;
    color: white;
    font-weight: bold;
    background-color: #FF1300;
}
	   
	   
.nav-i{
    
    font-size: 25px;
    
}
	    
.input-alert{
	        
    border: 3px solid #FF1300;
	padding-left: 27px;
	        
}

.fa-exclamation-circle{
    
    font-size: 20px;   
    margin: 0 3px;    

}

.input-label{
    
    padding-left: 30px;
    
}

.editTable, #measurementPopUp, #keyLiftPopUp{
 
    display: none;   
    
}

.editTableBox, .tableBox{
            
        width: 30px;
        padding: 0;
        margin: 0;
        text-align: center;
        border:none;
    }
        
.editTableBox:hover, .editTableBox:active {

    text-decoration: underline;
            
}
        
.weightInput{
            
    width: 50px;
            
}

select{
    
    background-color: white;
    border: none;
}

}
